
/* header css content */
.header-1,.header-2,.header-3{
    /* height: 85px; */
}
.header-1{
    float: left;
    width: 255px;
}
.header-2{
    float: left;
    width: 576px;
}
.header-3{
    float: left;
    width: 171px;
}

.logo{
    /* width: 49px;
    height: 223px; */
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 32px;
}

.search-bar{
    margin-top: 40px;
    margin-left: 24px;
    margin-right:216px; 
    margin-bottom: 25px;
    /* background-color:chocolate; */
    height: 20px;
    font-size: 1px;
    color:#899595;
}
.searchbox-left{
    float: left;
    width: 254px;
    height:20px;
    box-sizing: border-box;
    background: url('../images/searchbar-left.png');
    margin-right: 2px;
}
.searchbox-right{
    float: left;
    width: 21px;
    height:20px;
    box-sizing: border-box;
    background: url('../images/searchbar-right.png');
    margin-right: 6px;
}
.searchbox-button{
    float: left;
    width: 53px;
    height:20px;
    box-sizing: border-box;
    background: url('../images/search-button.png');

}
.searchbox-input {
    float: left;
    margin-left: 5px;

}
.searchbox-input input{
    outline: none;
    color:#899595;
    font-size: 10px;
    height: 20px;
    width:210px ;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #CAEFF7;
}
.cross-icon{
    float: left;
    width: 8px;
    height:9px;
    box-sizing: border-box;
    background: url('../images/cross-icon.png');
    margin-left:22px;
    margin-top: 5px;

}
.search-icon{
    float: left;
    width: 9px;
    height:10px;
    box-sizing: border-box;
    background: url('../images/search-icon.png');
    margin-left:7px;
    margin-top: 5px;
}
.search-txt{
    float: left;
    margin-left: 3px;
    padding:4px;
    height: 20px;
    width: 50px;
    font-size: 10px;
    color:rgb(231, 227, 227);   
    /* background-color: seagreen; */
}



.user-info{
    font-weight: bold;
    text-align: right;
    color:#32312D;
    margin-right: 31px;
    margin-bottom: 25px;
    margin-top: 28px;
}

.user-info a{
    color:#32312D;
}

.user-menu a{
    
    font-size: 10px;
    color:#32312D;

}

/* nav css content*/
.nav-div1{
    float: left;
    font-weight: bold;
    font-size: 12px;
    height: 100%;
    margin-left: 41px;

}
.nav-div2{
    float:right;
    font-weight: bold;
    font-size: 12px;
    height: 100%;
    width: 49%;
    margin-right: 10px;
}

.nav-div1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.nav-div1 ul li {
    float: left;
  }

.nav-div1 ul li a {
    color: #3B3B3B;
    display: block;
    padding: 12px;
    height: 100%;
  }

.nav-div1 ul li a:hover {
    text-decoration: none;
    background-color: #dddddd;
}

/* nav2 */
.nav-div2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.nav-div2 ul li {
    float: right;
  }

.nav-div2 ul li a {
    color: #3B3B3B;
    display: block;
    padding: 12px;
    height: 100%;
  }

.nav-div2 ul li a:hover {
    text-decoration: none;
    background-color: #dddddd;
}



/* section css content*/
/* section-left */
.sec-left-block{
    width: 194px;
    height: 605px;
    background-color: #F5F5F5;
    margin-left:33px;
    margin-top: 30px;
}

.sec-active{
    height:42px;
    font-size: 14px;
    font-weight: bold;
    color: #FEFEFE;
    box-sizing: border-box;
    padding: 12px;
    background-color: #2FC1DA;
}

.sec-left-items1{
    height: 50px;
    font-size: 12px;
    font-weight: bold;
    color:#282828;
    box-sizing: border-box;
    padding: 12px;
}
.sec-left-text1{
    float:left;
    width: 157px;
}
.sec-left-img1{
    float:left;
    margin-top:10px;
}
.sec-left-items1:hover{
    background-color: #FFFFFF;
}

.sec-left-items{
    height: 35px;
    font-size: 12px;
    font-weight: bold;
    color:#282828;
    box-sizing: border-box;
    padding: 12px;
}
.sec-left-text{
    float:left;
    width: 157px;
}
.sec-left-img{
    float:left;
    margin-top: 2px;
}
.sec-left-items:hover{
    background-color: #FFFFFF;
}

.sec-left-block a:hover{
    text-decoration: none;
}





/* section-right */
.sec-right-block{
    width: 176px;
    height: 605px;
    background-color: #F5F5F5;
    margin-top: 30px;
}

.sec-right-items{
    height: 35px;
    font-size: 12px;
    font-weight: bold;
    color:#282828;
    box-sizing: border-box;
    padding: 12px;
}
.sec-right-items:hover{
    background-color: #FFFFFF;
}

.sec-right-block a:hover{
    text-decoration: none;
}

/* section-center */
.section-container{
    margin-top:30px ;
    margin-left:26px ;
    width: 518px;
    height: 605px;   
    /* background-color: darkseagreen; */
}
.section-1{
    font-size: 26px;
    font-weight: bold;
    height: 34px;
}
.section-2{
    font-size: 26px;
    font-weight: bold;
    height: 65px;
    /* background-color: aqua; */
}
.sec-entries{
    float: left;
    width: 256px;
    height:65px;
    /* background-color: burlywood; */
    background: url('../images/roundbox-entries.png');
    margin-right: 1px;
}
.sec-subscribed {
    float: right;
    margin-left: 1px;
    width: 256px;
    height:65px;
    /* background-color: brown; */
    background: url('../images/roundbox-sub.png');
}



.sec-heading{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    /* background-color: bisque; */
    height: 37px;
    box-sizing: border-box;
    padding: 10px;
}
.sec-nav{
    text-align: center;
    font-size: 12px;
    color:#282828;
    font-weight: bold;
    height: 28px;
    /* background-color: brown; */
}
.sec-nav1{
    float: left;
    width: 114px;
    height:28px;
    color:#FFFEFF;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 7px;
    background: url('../images/roundbox-blue.png');
    
}
.sec-nav2{
    float: left;
    color:#282828;
    width: 114px;
    height:28px;
    box-sizing: border-box;
    padding: 7px;
    background: url('../images/roundbox-gray.png');
    
}

.sec-nav3{
    float: left;
    color:#282828;
    width: 114px;
    height:28px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 7px;
    background: url('../images/roundbox-gray.png');
    
}

.sec-nav2:hover{
    float: left;
    color:#282828;
    width: 114px;
    height:28px;
    box-sizing: border-box;
    padding: 7px;
    background: url('../images/roundbox-blue.png');
    
}
.sec-nav3:hover{
    float: left;
    color:#282828;
    width: 114px;
    height:28px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 7px;
    background: url('../images/roundbox-blue.png');
   

}

.section-3{
    height: 100px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 26px;
    padding-right: 24px;
    /* background-color: burlywood; */
}

.post{
    height: 70px;
    /* background-color: cadetblue; */
}
.profile-img{
    float: left;
    width: 70px;
    height: 70px;
}
.alan-img{
    background: url('../images/alan-coe.png');
}
.mary-img{
    background: url('../images/mary-pilot.png');
}
.jim-img{
    background: url('../images/jim.png');
}
.john-img{
    background: url('../images/john.png');
}
.marianne-img{
    background: url('../images/pea.png');
}
.flim-post{
    float: left;
    height: 70px;
    margin-left: 10px;
    /* width: 385px; */
    font-size: 12px;
}
.info-line0{
    font-size: 12px;
    font-weight: bold;
    color: #2E9FB1;
}
.info-line1{
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}
.info-line2{
    font-size: 12px;
}





/* footer css content*/
.footer-left{
    margin-top:16.5px;
    float:left;
    margin-left: 32px;
    color:#D4D4D4;
}

.footer-right{
    margin-top:16.5px;
    float:right;
    margin-right: 31px;
    color:#D4D4D4;
}

footer ul{
    list-style-type: none;
}

footer li{
    display:inline;
}

footer a{
    color:#D4D4D4;
}

footer .dots{
    color:#D4D4D4;
    padding:5px;
}



