
/* ******** game-sumo ******** */
.game-sumo{
    background-color: green;
    background-color: #FEEF9A;
    height: 100vh;
}

.game-sumo-top{
    position: relative;
    width: 1300px;
    height: 500px;
    margin: 0 auto;
    background-image: url("../assets/images/sumo/ringsumo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sumo-border{
    width: 350px;
    height: 350px;
    position: relative;
    top:70px;
    margin: 0 auto;
    border: 10px solid #FEF3DF;
    border-radius: 30px;
}

.game-sumo-instruction,.game-sumo-winnerBoard{
    position: absolute;
    top: 50%;
    left: 50%;
    border: 5px solid white;
    border-radius: 30px;
    z-index: 1;
    transform: translate(-50%, -50%);
    background-color: #E8E2B2;
    padding: 5%;
    text-align:  center;
    display: none;
}

.game-sumo-instruction p{
    font-size: 20px;
}

#sumo-winnerBoard-line2-img{
    height: 100px;
    background-image: url("../assets/images/winner.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.game-sumo-entity-control{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 55px;
    margin: 0 auto;
}

#sumo-gotoHomePage-btn{
    float: left;
    cursor: pointer;
    width: 20%;
    height: 100%;
    background-image: url("../assets/images/home-btn.png");
    background-size: 100% 100%;
}

#sumo-state-control-btn{
    float: right;
    cursor: pointer;
    height: 100%;
    width: 20%;
    background-image: url("../assets/images/play.png");
    background-size: 100% 100%;
}

#sumo-state-control-btn:hover,#sumo-gotoHomePage-btn:hover{
    transform: scale(1.2); 
}

.gamer-sumo-points {
    margin-top:1% ;
    font-size: 30px;
    color: white;
    display: flex;
    text-align: center;
}

.sumo-point-blue{
    flex: 1;
    background-color: rgb(40, 40, 173);
    padding: 1%;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid white;
    border-radius: 20px;
}

.sumo-point-red{
    flex: 1;
    background-color: red;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%; 
    border: 2px solid white;
    border-radius: 20px;
} 

.game-sumo-bottom{
    position: relative;
}

#sumo-to-next-game-btn{
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 48%;
    width: 5%;
    height: 90%;
    background-image: url('../assets/images/next-btn.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#sumo-to-next-game-btn:hover{
    transform: scale(1.2); 
}

