*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#viewport {
  position: relative;
    width: 1000px;
    height: 600px;
    border: 1px solid black;
    left: 10%;
  }
  
.ball {
    border-radius: 50%;
  }
  