/* ****************************************** */
/* header container css */
/* ****************************************** */

/* mobile header css */
 
.nav-mobile{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #232233;
}

.nav-mobile-left{
    float: left;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-top: 12px;
}
.nav-mobile-right{
    float: right;
    background: #5956E9;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    margin-top: 4px;
    margin-right: 4px;
    font-weight: 600;
    font-size: 10px;
    background: #5956E9;
    border-radius: 3px;
}
.mobile-logo{
    /* background-color: rgb(43, 226, 58); */
    margin-top: -50px;
    /* height: 100%; */
}
#mobile-logo-block{
    background-color: rgb(131, 124, 124);
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    display: table;
    margin:0 auto;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


.banner{
    /* background-color: rgb(170, 158, 158); */
    margin-top: 10%;
}
.banner-left{
    float: left;
    /* background-color: brown; */
    width: 100%;
    /* margin-left: 16px; */
}
.banner-right{
    float: left;
    /* background-color: rgb(124, 235, 34); */
    overflow: hidden;
    width: 100%;
}
.banner-right img{
    width: 100%;
}
.banner-sqbox{
    /* padding: 32px; */
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    /* background: #C4C4C4; */
    border: 10px solid #7572FF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banner-textbox{
    padding: 18px;
    background-color: rgb(78, 218, 23);
}
.banner-textbox h1{
    color: #5956E9;
    font-style: normal;
    font-size: 48.83px;
    font-weight: bold;
}
.banner-textbox p{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    
}
.banner-playstore,.banner-applestore{
    float: left;
}




/* ****************************************** */
/* css for about page */
.about-last-left,.about-last-right{
    float: left;
    width: 100%;
}
.about-last-left img{
    width:100%
}

/* ****************************************** */
/* css for feature page */
.feature-display-center{
    width: 100%;
    /*margin: 0 auto;
    overflow: hidden;
    background: url("../images/App.png");
    background-repeat: no-repeat; */
}


/* ****************************************** */
/* css for interface page */

.interface h2{
    text-transform: uppercase;
    font-weight: bold;
}
.interface p{
    color:#6C6C72;
}
.carousel{
    display: block;
    text-align: center;
}
.dots-slider{
    width: 100%;

    /* background-color: aqua; */
}
.dots-slider a{
    padding-left: 9px;
    padding-right: 9px;
}
.dots-slider span{
   display: block;
   text-align: center;
}
.interface-left{
    float:left;
    width:100%;
}
.interface-right{
    float: left;
    width: 100%;
    overflow: hidden;
}
.interface-playstore,.interface-applestore{
    float:left;
}
.interface-rate{
    color:#FFFFFF;
}
.interface-rate-download{
    float:left;
    background-color:#5851EA ;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.interface-rate-like{
    float:left;
    background-color:#5851EA ;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.interface-rate-star{
    float:left;
    background-color:#5851EA ;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* ****************************************** */
/* css for use page */
.use-content{
    color: #FFFFFF;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 25%;
    
}
.use-content p{
    margin-top: 3%;
    padding-left: 25%;
    padding-right: 25%;
    color: #FFFFFF;
    margin-bottom: 1%;

}
/* ****************************************** */
/* css for video page */
.video{
    /* background-color: bisque; */
    margin-top: -20%;
    position: relative;
    
}
.video-overlap{
    display: table;
    margin: 0 auto;
    width: 100%; 
}

.video-btn{
   position: absolute;
   top:30%;
   right: 40%;
   /* border: red solid;  */
}

/* .video-btn-circle1{
    border: rgba(255, 255, 255, 0.6);
    border-radius: 50%;

}
.video-btn-circle2{
    border: rgba(255, 255, 255, 0.7);
    border-radius: 50%;

}
.video-btn-circle3{
     border: #FFFFFF solid;
     background-color: #FFFFFF;
     border-radius: 50%;

} */

/* ****************************************** */
/* css for team page */

.team h4,p{
    color: #6C6C72;
}
.team h4{
    text-transform: uppercase;
}
#team-secondline{
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 25%;
    padding-right: 25%;
}
.team-profile{
    width: 100%;
    overflow: hidden;
}
.team-card{
    float: left;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
}
.team-card p{
    margin-top: 6%;
    margin-bottom: 6%;
}

.team-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.team-card-img img{
    border: #5956E9 solid;
    border-radius: 50%;
    padding: 5px;
}
.social-icon a{
    padding: 10px 10px;
    display: inline-block;
}
.social-icon a:not(:last-child) {
    border-right: 1px solid #6C6C72;
}
.social-icon a:hover{
    fill: #5956E9;
}
/* ****************************************** */
/* css for customer page */
#customer-secondline{
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 25%;
    padding-right: 25%;
    color: #FFFFFF;
}
.customer-content{
    /* position: relative; */
}
.customer-content-left{
    float: left;
    width: 45%;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    color: black;
    padding:2%;
}
.customer-content-right{
    width: 45%;
    float: right;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    color: black;
    padding:2%;
}
.customer-content p,.customer-content-overlap p{
    color: #6C6C72;
}

.customer-content-overlap{
    width: 50%;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    color: black;
    margin: 0 auto;
    margin-top: -10% ;
}
.customer .dots-slider{
    margin-top: 1%;
}
/* ****************************************** */
/* css for blog page */
#blog-secondline{
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 25%;
    padding-right: 25%;
    color: #6C6C72;
    text-align: center;
}
.blog-content-items img{
    width: 100%;
}

.blog-content-items{
    float: left;
    width: 100%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.blog-content-items:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.blog-content-items h4{ 
    text-align: left;
    padding: 5%;
}
.blog-content-items p{ 
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}
#readmore{
    color:#5851EA ;
    text-decoration: underline;
    text-align: left;
    padding: 5%;
    margin-left: 1%;
}
#readmore a:hover{
    color:#8983f7 ;
}
/* ****************************************** */
/* css for contactus page */

.contactus-content{
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 2%;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

}
.contactus-left{
    float: left;
    width: 100%;
}
.contactus-left img{
    padding-left: 10px;
    padding-top: 10px;
}
.contactus-left a{
    font-size: 25px;
    color: black;
}


#contactus-emails{
    border-bottom: black solid 1px;
}




/* ****************************************** */
/* css for footer page */
.hr-line{
    display: table;
    margin: 0 auto;
    border: 1px solid #FFFFFF; 
    width: 80%;
    margin-top: 7%;
    margin-bottom: 2%;
}
.footer-content{
    text-align: left;
}

.footer-content p{
    margin-top: 5%;
    color: #FFFFFF;

}
.footer-left,.footer-right,.footer-center{
    margin-bottom: 5%;
}
.footer-left{
    float: left;
    width: 100%;
    /* background-color: aqua; */
}
.footer-center{
    float: left;
    width: 100%;
    /* background-color: bisque; */
}
.footer-center a{
    color: #FFFFFF;
}
.footer-right{
    text-align: left;
    float: left;
    width: 100%;
    /* background-color: burlywood; */
}
.footer-social-icon{
    margin-top: 8%;
}
.footer-social-icon a{
    padding: 10px 10px;
    display: inline-block;
}
.footer-social-icon a:not(:last-child) {
    border-right: 1px solid #FFFFFF;
}
.foooter-social-icon a:hover{
    fill: #5956E9;
}
.footer-input{
    background-color: #ffffff;
    margin-top: 7%;
     
    width: 100%;
    position: relative;
}
.footer-input input{
    border-radius: 4px;
    border:none;
    width: 80%;
    font-size: 16px;
    padding: 10px 17px;
  /* width: 75%; */
  /* padding: 12px 20px; */
  /* margin: 8px 0; */
  box-sizing: border-box;

}
.footer-input img{
    border-radius: 4px;
    width: 11%;
  box-sizing: border-box;
  position: absolute;
  right:2%;
}

/* ****************************************** */
/* display block of desktop */
.nav-hide-for-mobile,.nav-hide-for-mobile-and-tablet,.feature-only-for-desktop-tablet{
    display: none;
}



/* ****************************************** */
/* media query for tablet */
/* ****************************************** */

/* media query header */
@media only screen and (min-width: 768px) {
    

    .nav-hide-for-mobile-and-tablet,.feature-only-for-mobile{
        display: none;
    }
    .nav-hide-for-mobile,.feature-only-for-desktop-tablet{
        display: block;
    }
    .nav-top{
        padding-top: 38px;;
        color: #FFFFFF;
        /* background-color: rgb(197, 189, 189); */
    }
    .nav-top-email{
        float:left;
    }
    .nav-top-email a,.nav-top-contact a{
        color: #FFFFFF;
    }
    
    .nav-top-contact{
        float:left;
        margin-left: 50px;

    }
    .nav-top-icon{
        float:right;
        margin-right: 10px;
        
    }
    .nav-top-email svg,.nav-top-contact svg{
        margin-right:20px;
    }
    .nav-top-icon svg{
        margin-left:31.5px ;
    }


    #mobile-logo-block{
        display: table;
        margin:0 auto;
    }
    
    .banner{
        /* background-color: rgb(170, 158, 158); */
        /* margin-top: 234px; */
        margin-top: 20%;
        /* margin-bottom: 20%; */
    }
    .banner-left{
        /* background-color: brown; */
        width: 50%;
    }
    .banner-right{
        /* background-color: rgb(124, 235, 34); */
        width: 50%;
    }

    /* ****************************************** */
    /* media query for about page */


    .about-last-left,.about-last-right{
    
        width: 50%;
    }

    /* ****************************************** */
    /* media query for feature page */
    .feature-dispaly-left{
        float:left;
        background-color: aquamarine;
        width: 25%;
    }
    .feature-dispaly-center{
        float:left;
        background-color: rgb(153, 91, 235);
        width: 50%;
    }
    .feature-dispaly-left{
        float:left;
        background-color: rgb(115, 236, 125);
        width: 25%;
    }

    /* ****************************************** */
    /* media query for interface page */
    .interface-left{
        width:50%;
    }
    .interface-right{
        width: 50%;
    }
    /* ****************************************** */
    /* media query for use page */

     /* ****************************************** */
    /* media query for video page */
    .video-btn{
        position: absolute;
        top:50%;
        right: 49%;
        /* border: red solid;  */
     }

    /* ****************************************** */
    /* media query for team page */
    .team-card{
        width: 30%;
        margin-top: 0%;
    }
    .team-profile .team-card:not(:last-child){
        margin-right:3%;
    }
    /* ****************************************** */
    /* media query for customer page */

    /* ****************************************** */
    /* media queryfor blog page */
    .blog-content-items{
        width: 31%;
    }
    .blog-content .blog-content-items:not(:last-child){
            margin-right:2%;
        /* background-color: blueviolet; */
    }

    /* ****************************************** */
    /* media query for contactus page */
    .contactus-left{
        float: left;
        width: 49%;
    }
    #contactus-emails{
        border-right: black solid 1px;
        border-bottom: 0px;
    }
    

    /* ****************************************** */
    /* media query for footer page */
    .footer-left,.footer-center,.footer-right{
        width: 30%;
        margin-bottom: 0%;
    }
    .footer-center{
        padding-left: 3%;
    }
    
}



/* ****************************************** */
/* media query for desktop */
/* ****************************************** */
@media only screen and (min-width: 1200px) {
/* desktop header css */
/* media query header */
    .nav-hide-for-mobile-and-tablet{
        display: block;
    }
    .mobile-navbar{
        display: none;
    }

    .nav-top{
        padding-top: 38px;;
        color: #FFFFFF;
        /* background-color: rgb(197, 189, 189); */
    }
    .nav-top-email{
        float:left;
    }
    .nav-top-contact{
        float:left;
        margin-left: 50px;

    }
    .nav-top-icon{
        float:right;
        margin-right: 10px;
        
    }
    .nav-top-email svg,.nav-top-contact svg{
        margin-right:20px;
    }
    .nav-top-icon svg{
        margin-left:31.5px ;
    }

    .nav .nav-left{
        float: left;
    }
    .nav .nav-right{
        float:right;
    }
    .nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .nav ul li{
        padding-top: 20px;
        padding-bottom: 20px;
        float: left;
        /* background-color: crimson; */
    }
    .nav-left ul li {
        margin-right: 40px;
    }
    .nav-left ul li:first-child{
        margin-left: 52px;
    }
    .nav-right ul li{
        margin-left: 40px;
        /* background-color: cyan; */
        /* height: 100%; */
    }

    .nav a{
        color: #232233;
    }
    .nav a:hover{
        color: #5956E9;
    }
    .nav-right li:last-child{
        display: block;
        background: #5956E9;
        border-radius: 5px;
        padding:15px 15px 15px 15px;
        margin-top: 5px;
        text-align: center;
        color: white;
        font-weight: 600;
        margin-right: 5px;

    }
    .logo{
        margin-top:-75px;
    }

    .logo span{
        display: table;
        margin: 0 auto;
        background-color: #FFFFFF;
        padding-top: 31px;
        padding-bottom: 31px;
        padding-left: 16px;
        padding-right: 17px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

    }

    .banner{
        /* background-color: rgb(170, 158, 158); */
        margin-top: 90px;
    }

    /* ****************************************** */
    /* media query for feature page */


    /* ****************************************** */
    /* media query for interface page */

    /* ****************************************** */
    /* media query for use page */

    /* ****************************************** */
    /* media query for team page */

    /* ****************************************** */
    /* media query for customer page */

    /* ****************************************** */
    /* media queryfor blog page */

    /* ****************************************** */
    /* media query for footer page */
        

    /* hidden display part */
    .desktop-nav{
        display: block;
    }

}

